////
/// Components
/// TransformedList
////

@import '../../styles/utilities/layout';
@import './props';

// .TransformedListWrapper {}

.TransformedList {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: transformed-list-item(width);
  height: transformed-list(height);

  @media screen and (min-width: get-breakpoint(tablet)) {
    width: transformed-list-item(width, tablet);
    height: transformed-list(height, tablet);
  }
}

.TransformedListItem {
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
}

.TransformedListContent {
  @include flex-center;
  width: 100%;
  height: transformed-list-item(height);
  color: white;
  background-color: get-color(coal, dark);
  border: get-border() solid get-color(coal, dark);
  border-top-width: get-border(thick);
  transform: transformed-list-item(transform);
  backface-visibility: hidden;

  @media screen and (min-width: get-breakpoint(tablet)) {
    height: transformed-list-item(height, tablet);
  }
}

.TransformedListHeading {
  margin-top: transformed-list-heading(margin);
  font-size: transformed-list-heading(size);
  font-weight: transformed-list-heading(weight);
  line-height: transformed-list-heading(leading);

  @media screen and (min-width: get-breakpoint(tablet)) {
    font-size: transformed-list-heading(size, tablet);
  }
}

///
/// Draggable layout
.TransformedListItem:nth-child(1n+2) {
  .TransformedListContent::after {
    content: '';
    position: absolute;
    right: -#{transformed-shadow(offset)};
    bottom: transformed-shadow(bottom);
    left: -#{transformed-shadow(offset)};
    display: block;
    height: transformed-shadow(height);
    background-color: get-color(coal, dark);
    transition: transform get-duration() get-easing();

    @media screen and (min-width: get-breakpoint(tablet)) {
      bottom: transformed-shadow(bottom, tablet);
      height: transformed-shadow(height, tablet);
    }
  }
}

.TransformedListItem--isCloned:first-child + .TransformedListItem {
  .TransformedListContent::after {
    content: none;
  }
}

.TransformedListItem {
  @for $i from 1 through $transformed-item-count {
    &:nth-child(#{$i}) {
      z-index: ($transformed-item-count + 1) - $i;
    }
  }

  @include transformed-item-offset;

  @media screen and (min-width: get-breakpoint(tablet)) {
    @include transformed-item-offset(tablet);
  }
}

///
/// Draggable Items
.TransformedListItem--isDraggable {
  cursor: get-cursor(drag);

  .TransformedListContent {
    @include halftone-bg;
    color: get-color(coal, dark);
    background-color: white;
    border-color: currentColor;
    transition:
      color get-duration(fast) get-easing(),
      background-color get-duration(fast) get-easing(),
      transform get-duration() get-easing();
  }

  // interaction
  &:focus,
  &:hover {
    .TransformedListContent {
      color: get-color(brand, blue);
      transform: transformed-list-item(transform) translateY(get-spacing(tightest));

      &::after {
        transform: translateY(
          -(get-spacing(tightest))
        );
      }
    }
  }

  &.draggable-source--is-dragging {
    .TransformedListContent {
      color: get-color(brand, blue);

      @include halftone-bg-animated;
    }
  }

  /*
    &.draggable-source--placed {
      .TransformedListContent::before {
        @include position-cover;
        content: '';
        display: block;
        background-color: get-color(brand, blue);
        animation: test get-duration() get-easing() both;
      }
    }
  */

  &.draggable-mirror {
    z-index: get-z-index(overlay);

    .TransformedListContent {
      color: white;
      background-color: get-color(brand, blue);
      border-color: get-color(brand, blue);
      transform: transformed-list-item(transform) scale(1.05);

      &::after {
        content: none;
      }
    }
  }
}
